@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 14px;
  line-height: 1.6;
  color: #333;
  background: linear-gradient(135deg, #f0f4f8 0%, #ffffff 100%);
  margin: 50px;
}

form {
  max-width: 480px;
  margin: auto;
}

.main {
  margin-top: 70px;
}

h1.title {
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

h2.title {
  color: #1D770B;
  font-weight: 600;
}

hr {
  width: 10%;
  color: #fff;
}

.form-group {
  margin-bottom: 20px;
  position: relative;
}

label {
  margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
  font-size: 14px;
  padding-top: 3px;
}

.main-login {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.main-center {
  margin-top: 30px;
  margin: 0 auto;
  max-width: 330px;
  padding: 40px 40px;
}

.login-button {
  background-color: #0074D9; /* Ocean Basket's primary blue */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 5px;
}

.login-button:hover {
  background-color: #0056a6; /* Darker blue on hover */
}

.form-control {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  margin-bottom: 20px;
}

.form-control:focus {
  border-color: #0074D9; /* Focus state color */
  box-shadow: 0 0 5px rgba(0, 116, 217, 0.5);
  outline: none;
}

.form-control::placeholder {
  color: #aaa;
}

.validation-message {
  font-size: 0.875em;
  color: red;
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 5px;
  white-space: nowrap;
}

#terms {
  margin-right: 5px; /* Small space between the checkbox and label */
}

.checkbox-group {
  position: relative;
  padding-left: 20px;
}

.checkbox-group .validation-message {
  left: 20px;
  top: 20px;
}

.validation-message-checkbox {
  font-size: 0.875em;
  color: red;
  margin-top: 5px;
  position: absolute;
  top: 20px;
}

.login-register {
  font-size: 11px;
  text-align: center;
}
